<div class="navbar navbar-default navbar-fixed-top navbar-transparent">
    <div class="container">
      <div class="navbar-header">
        <a href="./" class="navbar-brand"><img src="../../assets/img/logo-nav.png">AiPatn</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
            <li><a href="">首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">专利检索<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a routerLink="/pat-simple" routerLinkActive="active">简单检索</a></li>
                  <li><a routerLink="/pat-complex" routerLinkActive="active">高级检索</a></li>
                  <li class="divider"></li>
                  <li><a href="#">法律检索</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
      </div>
    </div>
</div>
