<div class="search-bottom">
    <div class="record">
        <span class="text-span"><p>©&nbsp;Copyright&nbsp;&nbsp;2017&nbsp;&nbsp;{{company}}&nbsp;&nbsp;版权所有&nbsp; |</p></span>
        <a target="_blank" href="http://www.miitbeian.gov.cn" class="text-span"><p> {{icp}}&nbsp;&nbsp; </p></a>
<!--
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32041202001279" class="text-span"><img src="../../assets/images/recordicon.png" style="float:left;margin-top:14px;"><p>&nbsp;苏公网安备&nbsp;32041202001279号</p></a>
        <a href="/updatelog" target="_blank" class="text-span"><p>系统日志</p></a>
        <a href="/updateTable" class="text-span" target="_black"><p>数据更新</p></a>
-->
        <span class="text-span"><p>&nbsp;建议使用Chrome、360浏览器</p></span>
<!--
        <a key="5976e2ee2548be7b01df9505" logo_size="83x30" logo_type="realname" href="https://v.pinpaibao.com.cn/authenticate/cert/?site=www.patexplorer.com&amp;at=realname" style="position: relative;bottom: 12px;" target="_blank"><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script><b id="aqLogoYMNIR" style="display: none;"></b><img src="//static.anquan.org/static/outer/image/sm_83x30.png?id=www.patexplorer.com?t=5" alt="安全联盟认证" width="83" height="30" style="border: none;"></a>
        <a key="5976e2ee2548be7b01df9505" logo_size="83x30" logo_type="common" href="http://www.cn-ecusc.org.cn/cert/aqkx/site/?site=www.patexplorer.com" style="position: relative;bottom: 12px;" target="_blank"><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script><b id="aqLogoVIFRT" style="display: none;"></b><img src="//static.anquan.org/static/outer/image/aqkx_83x30.png?id=www.patexplorer.com?t=5" alt="安全联盟认证" width="83" height="30" style="border: none;"></a>
-->
        <span style="position: relative;bottom: 18px;right: -5px;">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264337235'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1264337235%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            <span id="cnzz_stat_icon_1264337235">
              <a href="http://www.cnzz.com/stat/website.php?web_id=1264337235" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a>
            </span>
            <script src=" http://s11.cnzz.com/z_stat.php?id=1264337235&amp;show=pic" type="text/javascript"></script>
            <script src="http://c.cnzz.com/core.php?web_id=1264337235&amp;show=pic&amp;t=z" charset="utf-8" type="text/javascript"></script>
        </span>
    </div>
</div>

