<div class="search-bottom">
  <div class="record">
      <span class="text-span"><p>©&nbsp;Copyright&nbsp;&nbsp;2017&nbsp;&nbsp;{{company}}&nbsp;&nbsp;版权所有&nbsp; |</p></span>
      <a target="_blank" href="http://www.miitbeian.gov.cn" class="text-span"><p> {{icp}}&nbsp;&nbsp; </p></a>
      <span class="text-span"><p>&nbsp;建议使用Chrome、360浏览器</p></span>
      <span style="position: relative;bottom: 18px;right: -5px;">
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264337235'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1264337235%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
          <span id="cnzz_stat_icon_1264337235">
            <a href="http://www.cnzz.com/stat/website.php?web_id=1264337235" target="_blank" title="站长统计"><img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif"></a>
          </span>
          <script src=" http://s11.cnzz.com/z_stat.php?id=1264337235&amp;show=pic" type="text/javascript"></script>
          <script src="http://c.cnzz.com/core.php?web_id=1264337235&amp;show=pic&amp;t=z" charset="utf-8" type="text/javascript"></script>
      </span>
  </div>
</div>

