<div class="container-fluid fr-main">
  <div class="row fr-disp">

    <div class="col-xs-2 fr-left">
      <div class="list-group">
        <a href="#" class="list-group-item active">筛选项</a>
        <div>
          <a href="#" *ngFor="let fi of filter_items" class="list-group-item">{{fi.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-xs-10 fr-right pat-list">
      <div class="u-toolbar">
        <div class="searchform">
            <form action="/search" method="post" class="">
            <label class="control-label u-label">检索条件</label>
            <input type="hidden" value="35184372088831" name="sc">
            <input type="hidden" value="type:(cn_in OR cn_gp) AND pa_ana:(中国航空工业集团公司西安飞机设计研究所)" name="fq">
            <input type="hidden" value="s" name="type">
            <input type="hidden" value="" name="sort">
            <input type="hidden" value="" name="sortField">
            <div class="m-search">
              <div class="search-div">
                <div class="search-div-in">
                  <input type="text" class="u-search" value="{{searchKeyword | async }}" name="q" autocomplete="off" placeholder="你想找啥？">
                  <i class="iconfont clean_icon">&#xe65d;</i>
                </div>
              </div>
              <div class="btns">
                <a href="#" class="iconfont search-btn">&#xe60e;</a>
              </div>
            </div>
          </form>
        </div>
        <div class="m-holder">
          <div class="">
            <div id="filter_container" class="u-filter-containter"><span class="m-modal s-modal-0">type</span>:(
              <p class="m-modal p-modal-0-0">中国发明专利 <i data-type="type" data-val="cn_in">x</i></p><span class="m-modal relation"> OR </span>
              <p class="m-modal p-modal-0-1">中国发明授权专利 <i data-type="type" data-val="cn_gp">x</i></p>) <span class="m-modal relation"> AND </span>
              <span class="m-modal s-modal-1">pa</span>:(
              <p class="m-modal p-modal-1-0">中国航空工业集团公司西安飞机设计研究所 <i data-type="pa_ana" data-val="中国航空工业集团公司西安飞机设计研究所">x</i></p>)</div>
          </div>
          <div class="m-btns">
            <a href="#" class="btn btn-default">过滤</a>
            <a href="#" class="btn btn-default">清除</a>
          </div>
        </div>
      </div>

      <!-- Patent List -->
      <div class="list-group u-list">
        <div class="list-group-item active">
          <div class="btn-group">
            <a href="#" class="btn btn-default">图文模式</a>
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">列表模式</a></li>
              <li><a href="#">图文模式</a></li>
              <li><a href="#">首图模式</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <a href="#" class="btn btn-default">按相关度排序</a>
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">按相关度排序</a></li>
              <li><a href="#">按公开日升序</a></li>
              <li><a href="#">按公开日降序</a></li>
              <li><a href="#">按申请日升序</a></li>
              <li><a href="#">按申请日降序</a></li>
            </ul>
          </div>
        </div>
        <div *ngFor="let item of sf1.results; let idx=index" class="list-group-item pat-item">
          <div class="pat-header">
            <span class="num">{{idx + 1}} </span>[{{getDbName(item.dbName)}}]
            <a href="#"
              class="c-blue" target="_blank">{{item.appNumber}}</a>
            <a href=""
              target="_blank" class="c-blue title">{{item.title}}</a>
            <span class="label label-warning">{{item.lprs}}</span>
            <div class="translatetitle"></div>
          </div>
          <div class="container-fluid pat-body">
            <div class="row">
              <div class="col-xs-2 pat-img">
                <img class="lazyload" style="width:169px;height:165px;border:1px solid #ccc" src="{{item.draws}}">
              </div>
              <div class="col-xs-10 pat-content container-fluid">
                <div class="row">
                  <div class="col-xs-4">
                    <p><strong>公开（公告）号：</strong>
                      <a href="#" class="c-blue" target="_blank">{{item.pubNumber}}</a>
                    </p>
                  </div>
                  <div class="col-xs-8">
                    <p><strong>申请（专利权）人：</strong><a href="#" target="_blank" class="">{{item.applicantName}}</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p><strong>申请日：</strong>
                      <a href="#" target="_blank">{{item.appDate}}</a>
                    </p>

                  </div>
                  <div class="col-xs-8">
                    <p><strong>主分类号：</strong><a href="#" target="_blank">{{item.mainIpc}}</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                    <p><strong>公开（公告）日：</strong><a href="#" target="_blank">{{item.pubDate}}</a></p>
                  </div>
                  <div class="col-xs-8">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <strong>摘要：</strong>{{item.abs}}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
