<div class="bg-wrapper" id="bg-wrapper">
    <div id="bg-image" class="bg-image" style="opacity:1;background-image: url('../../assets/images/meeting.jpg')"></div>
    <div class="cover"></div>
</div>

<div class="m-search-main">
    <div class="m-search-log">
        <div class="label label-warning common-test">内测</div>
        <a href="/"><img src="../../assets/images/logo-b.png" class="site-logo"></a>
        <p>大数据时代 我们与您同行</p>
    </div>
        <div class="m-search">
            <div class="m-search-input">
                <input class="m-search-input-input placeholder" type="text" name="q" placeholder="请输入检索关键字" autofocus="">
                <i class="iconfont clean_icon">&#xe65d;</i>
            </div>
            <button (click)="doSearch()" class="iconfont m-search-submit">&#xe60e;</button>
        </div>
</div>

<app-footer></app-footer>
